<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>shoplemo</name>
    <displayName><![CDATA[Shoplemo Ödeme Modülü]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Shoplemo aracılığı ile ödeme alabilmeniz/ürün satabilmeniz için, Presta ödeme modülü.]]></description>
    <author><![CDATA[RevoLand]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries>TR</limited_countries>
</module>